.Gallery__slide {
  border-radius: 10px;
}

.CardGrid {
  box-sizing: border-box;
}

.Column {
  padding: 0 0 10px 0;
}

.Column__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
